<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
			table{text-align: center;}
		</style>
	</head>
	<body>
		<div id="testAPP">
			<table border="1px solid #eee" align="center">
				<thead>
					<th width="120">姓名</th>
					<th width="120">分数</th>
					<th width="120">性别</th>
					<th width="120">审核状态</th>
				</thead>
				<tbody>
					<tr v-for="(item,key) in listData">
						<td>{{item.name}}</td>
						<td>{{item.score}}</td>
						<td>{{item.sex}}</td>
						<td>{{dealStatus(item.status)}}</td>
					</tr>
				</tbody>
			</table>
			<button @click="changeNum">{{number}}</button>
			<button-counter :filter-method="dealStatus" :tips="hello" :is-has-filter-method="true"></button-counter>
			<button-counter :filter-method="dealStatus" :tips="hello" :is-has-filter-method="true"></button-counter>
			<button-counter :tips="hello"></button-counter>
		</div>
	</body>
	<script src="https://cdn.bootcss.com/vue/2.4.2/vue.js"></script>
	<script>
		Vue.component('button-counter', {
	 		  props:{
	 		  	 filterMethod:{
	 		  	 	type:Function,
	 		  	 	required: false
	 		  	 	
	 		  	 },
	 		  	 tips:Number,
	 		  	 isHasFilterMethod:{
	 		  	 	type:Boolean,
	 		  	 	require:false,
	 		  	 	default:false
	 		  	 }
	 		  },
			  template:'<div>\
			  <button v-if="isHasFilterMethod" v-on:click="increment2">{{ filterMethod(tips)}}</button>\
			  <button v-if="!isHasFilterMethod" v-on:click="increment2">{{tips}}</button>\
			  </div>',
			  data:function () {
			    return {
			      counter: 0
			    }
			  },
			  mounted:function(){
			  	console.log(this.isHasFilterMethod);
			  },
			  methods:{
			    increment2: function () {
			      this.counter += 1
			      debugger;
			      this.$emit('increment2')
			    }
			  },
			});
		var vm=new Vue({
			el:"#testAPP",
			data:{
				number:0,
				listData:[],
				testArr:[{//相当于后台的数据
					name:"小米",
					sex:"man",
					score:100,
					status:0
				},
				{
					name:"轩昂",
					sex:"man",
					score:98,
					status:1
				},
				{
					name:"逗得",
					sex:"man",
					score:99,
					status:2
				},
				{
					name:"阳朔",
					sex:"man",
					score:97,
					status:1
				},
				{
					name:"荣云",
					sex:"man",
					score:92,
					status:0
				}],
				hello:1
			},
			mounted:function(){
				var self=this;
				self.listData=self.testArr;
			},
			methods:{
				dealStatus:function(value){
					switch(value){
							case 0:
								value="已保存";
								break;
							case 1:
								value="已提交";
								break;
							case 2:
								value="已审核";
								break;
						}
					return value;
				},
				changeNum:function(){
					this.number++;
				}
			}
		});
	</script>
</html>
